# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/

# Git
.git/
.gitignore

# Environment files
.env

# Cache
.cache/
pip-cache/
.huggingface/
torch_cache/

# Vector DB / embeddings
chromadb/
chroma/
*.sqlite
*.bin

# Data
documents/

# OS files
.DS_Store

# Logs
*.log